.container{
    border: 0px solid black;
}
.row{
    border: 0px solid blue;
}
.col .col-1 .col-2 .col-3 .col-4 .col-5 .col-6 .col-7 .col-8 .col-9 .col-10 .col-11 .col-12 {
    border: 0px solid yellow;
}
#header{
background-color: aqua;
padding: 10px,  10px, 10px;
}
#menu{
    background-color: teal;
    padding: 6px 0;

}
#menu ul{
    list-style: none;
    margin: 0rem;
    
}
#menu ul li{
    display: inline-block;
    
}
#menu ul li a{
    text-decoration: none;
    
}
#content{
    background-color: white;
}
#sidebar{
    background-color: aquamarine;
}
#footer{
    background-color: rebeccapurple;
}
